.places {
    box-sizing: border-box;
    max-width: 1086px;
    margin: 0 auto;
    padding: 0 48px 92px 48px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: start;
}

@media screen and (max-width: 1100px) {
    .places {
        max-width: 100%;
    }
}

@media screen and (max-width: 968px) {
    .places {
        padding: 0 24px 88px 24px;
    }
}

@media screen and (max-width: 570px) {
    .places {
        gap: 64px;
    }
}

@media screen and (max-width: 425px) {
    .places {
        padding: 0 0 66px 0;
        gap: 50px;
    }
}