.lead__title {
    max-width: 720px;
    margin: 0 auto 32px auto;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
}

@media screen and (max-width: 968px) {
    .lead__title {
        padding: 0 24px;
    }
}

@media screen and (max-width: 740px) {
    .lead__title {
        font-size: 72px;
    }
}

@media screen and (max-width: 570px) {
    .lead__title {
        font-size: 54px;
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        font-size: 40px;
        line-height: 1.1;
        padding: 0 16px;
    }
}